aiohttp==3.7.2
apturl==0.5.2
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
Automat==20.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
blinker==1.4
Brlapi==0.7.0
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.1.1
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
clients==1.2
cloudevents==0.3.0
colorama==0.4.3
command-not-found==0.3
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
duplicity==0.8.12.0
entrypoints==0.3
fasteners==0.14.1
firebase==3.0.1
Flask==1.1.2
Flask-Cors==3.0.9
Flask-JSON==0.3.4
functions-framework==2.0.0
future==0.18.2
gclient-service-account-auth==0.2.2
gcloud==0.17.0
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-cloud==0.34.0
google-cloud-bigquery==2.3.1
google-cloud-core==1.4.3
google-cloud-datastore==1.15.3
google-cloud-storage==1.32.0
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
gspread==3.6.0
gunicorn==20.0.4
h11==0.11.0
httpcore==0.12.0
httplib2==0.18.1
httpx==0.16.1
hyperlink==20.0.1
idna==2.8
incremental==17.5.0
isort==5.6.4
itemadapter==0.1.1
itemloaders==1.0.3
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsonchecker==0.8.0
jws==0.1.3
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lockfile==0.12.2
louis==3.12.0
lxml==4.6.1
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==1.1.0
mccabe==0.6.1
monotonic==1.5
msgpack==1.0.0
multidict==5.0.0
netifaces==0.10.4
numpy==1.19.4
oauth2client==3.0.0
oauth2client-master==4.1.3
oauthlib==3.1.0
olefile==0.46
package-name==0.1
pandas==1.1.4
paramiko==2.6.0
parse==1.18.0
parsel==1.6.0
pathtools==0.1.2
pexpect==4.6.0
Pillow==7.0.0
Protego==0.1.16
proto-plus==1.11.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycryptodome==3.4.3
pycups==1.9.73
PyDispatcher==2.0.5
PyGObject==3.36.0
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint==2.6.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.1.0
Pyrebase==3.0.27
pyRFC3339==1.1
python-apt==2.0.0+ubuntu0.20.4.1
python-clients==1.2.1
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-firebase==1.2.1
python-jwt==2.0.1
python-oauth2==1.1.1
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
queuelib==1.5.0
regex==2020.10.28
reportlab==3.5.34
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
requests-unixsocket==0.2.0
rfc3986==1.4.0
rsa==4.6
Scrapy==2.4.0
SecretStorage==2.3.1
secure-smtplib==0.1.1
service-identity==18.1.0
simplejson==3.16.0
six==1.14.0
sniffio==1.2.0
soupsieve==2.0.1
systemd-python==234
toml==0.10.2
Twisted==20.3.0
typing-extensions==3.7.4.3
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.25.8
usb-creator==0.3.7
vboxapi==1.0
w3lib==1.22.0
wadllib==1.3.3
watchdog==0.10.3
Werkzeug==1.0.1
wrapt==1.12.1
xkit==0.0.0
yarl==1.6.2
zope.interface==5.1.2
